.contain {
    background: var(--text-100);
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 10px;

    .card-dash {
        margin: 16px;
        padding: 16px;
        border-radius: 14px;
    
        .header {
            display: flex;
            align-items: center;
            justify-content: center;

            h6 {
                color: var(--text-100);
            }
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-100);
            font-size: 20px;
        }

        .body {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-weight: 600;
                font-size: 34px;
                color: var(--text-100);
            }
        }
    }

    .classe {
        background: var(--primary-200);
        
        .details {
            .table {
                thead {
                    th {
                        font-weight: 400;
                        font-size: 12px;
                    }
                }

                tbody {
                    tr {
                        td {
                            background: 0;
                            font-size: 12px;
                            font-weight: 550;
                            color: var(--primary-100);
                            border: 0;

                            .number {
                                height: 20px;
                                width: 20px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: var(--text-100);
                            }
                        }
                    }
                }
            }
        }
    }

    .student {
        background: var(--special-300);
    }

    .professor {
        background: var(--special-100);
    }

    .admin {
        background: var(--delete-100);
    }

    .note {
        background: var(--special-300);
    }
}