<div class="contain">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-dash classe">
                        <div class="header">
                            <h6>Classe</h6>
                        </div>
                        <div class="icon">
                            <fa-icon [icon]="['fas', 'school-flag']"></fa-icon>
                        </div>
                        <div class="body">
                            <span>11</span>
                        </div>
                        <div class="details">
                            <table class="table">
                                <thead>
                                    <th>Presco</th>
                                    <th>Primaire</th>
                                    <th>Secondaire</th>
                                    <th>Lycée</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><div class="number">3</div></td>
                                        <td><div class="number">5</div></td>
                                        <td><div class="number">4</div></td>
                                        <td><div class="number">3</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-dash student">
                        <div class="header">
                            <h6>Elèves</h6>
                        </div>
                        <div class="icon">
                            <fa-icon [icon]="['fas', 'book-open-reader']"></fa-icon>
                        </div>
                        <div class="body">
                            <span>121</span>
                        </div>
                        <div class="details">
                            <table class="table">
                                <thead>
                                    <th>Presco</th>
                                    <th>Primaire</th>
                                    <th>Secondaire</th>
                                    <th>Lycée</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><div class="number">3</div></td>
                                        <td><div class="number">5</div></td>
                                        <td><div class="number">4</div></td>
                                        <td><div class="number">3</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-dash professor">
                        <div class="header">
                            <h6>Enseignants</h6>
                        </div>
                        <div class="icon">
                            <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon>
                        </div>
                        <div class="body">
                            <span>32</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-dash admin">
                        <div class="header">
                            <h6>Administration</h6>
                        </div>
                        <div class="icon">
                            <fa-icon [icon]="['fas', 'user-tie']"></fa-icon>
                        </div>
                        <div class="body">
                            <span>09</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>