<div class="container-main">
    <div class="row">
        <div class="col-md-9">
            <div class="">
                <div class="row contain">
                    <div class="col-md-3">
                        <div class="card-dash classe" routerLink="/admin/class">
                            <div class="header">
                                <div class="icon">
                                    <fa-icon [icon]="['fas', 'school-flag']"></fa-icon>
                                </div>
                                <h6>Classe</h6>
                            </div>
                            
                            <div class="body">
                                <span>11</span>
                                <div class="explore">
                                    <fa-icon [icon]="['fas', 'angles-right']"></fa-icon>
                                </div>
                            </div>
                            <div class="details">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-dash student" routerLink="/admin/student">
                            <div class="header">
                                <div class="icon">
                                    <fa-icon [icon]="['fas', 'book-open-reader']"></fa-icon>
                                </div>
                                <h6>Elèves</h6>
                            </div>
                            
                            <div class="body">
                                <span>121</span>
                                <div class="explore">
                                    <fa-icon [icon]="['fas', 'angles-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-dash professor" routerLink="/admin/professor">
                            <div class="header">
                                <div class="icon">
                                    <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon>
                                </div>
                                <h6>Enseignants</h6>
                            </div>
                            <div class="body">
                                <span>32</span>
                                <div class="explore">
                                    <fa-icon [icon]="['fas', 'angles-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-dash admin">
                            <div class="header">
                                <div class="icon">
                                    <fa-icon [icon]="['fas', 'user-tie']"></fa-icon>
                                </div>
                                <h6>Administration</h6>
                            </div>
                            <div class="body">
                                <span>09</span>
                                <div class="explore">
                                    <fa-icon [icon]="['fas', 'angles-right']"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row contain">
                <div class="col-md-12">
                    <div>
                        <div class="ecolage">
                            <h6>Ecolage</h6>
                            <span>Détails des ecolages payés par classe</span>
                            <table class="table">
                                <thead>
                                    <th></th>
                                    <th>Classe</th>
                                    <th>Montant (Ar)</th>
                                    <th>Nombres</th>
                                    <th>Ayant Payé</th>
                                    <th>Non Payé</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let aClass of classResult">
                                        <td class="check"><fa-icon [icon]="['fas', 'check-circle']"></fa-icon></td>
                                        <td>{{capitalize(aClass.level)}}</td>
                                        <td>{{aClass.ecolage}}</td>
                                        <td>{{aClass.maximumCapacity}}</td>
                                        <td>{{aClass.students?.length}}</td>
                                        <td>
                                            <span>15</span>
                                            <button class="explorer" data-bs-toggle="modal" data-bs-target="#courseModal">
                                                <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                                                Consulter
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="paginator d-flex justify-content-center">
                                <mat-paginator #paginator
                                    class="demo-paginator"
                                    (page)="handlePageEvent($event)"
                                    [length]="length"
                                    [pageSize]="pageSize"
                                    [disabled]="disabled"
                                    [showFirstLastButtons]="showFirstLastButtons"
                                    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                                    [hidePageSize]="hidePageSize"
                                    [pageIndex]="pageIndex"
                                    aria-label="Select page">
                                </mat-paginator>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="row contain">
                <div class="col-md-12 payment">
                    <h6>Paiement Salaire</h6>
                    <table class="table">
                        <thead>
                            <th>Nom & Prénoms</th>
                            <th>Fonction</th>
                            <th>Payé</th>
                            <th>Fiche de paie</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>RAFIDIMANANA Jean Pierre</td>
                                <td>Responsable Pédagogique</td>
                                <td>Oui</td>
                                <td>
                                    <button class="explorer" data-bs-toggle="modal" data-bs-target="#courseModal">
                                        <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                                        Consulter
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>STEFANO Razafy</td>
                                <td>Assistante Admin</td>
                                <td>Non</td>
                                <td>
                                    <button class="explorer" data-bs-toggle="modal" data-bs-target="#courseModal">
                                        <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                                        Consulter
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row contain">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Notes</h6>
                        </div>
                        <div class="col-md-6">
                            <h6>Paiement Salaire</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="contain">
                <mat-card class="demo-inline-calendar-card">
                    <mat-calendar [(selected)]="selected"></mat-calendar>
                  </mat-card>                                         
            </div>

            <div class="contain">
                <h6>Bulletin</h6>
                <mat-card class="bulletin" *ngFor="let aClass of classes; let i= index" [style.background]="colors[i% colors.length]">
                    <div class="d-flex">
                        <fa-icon [icon]="['fas', 'school-circle-check']"></fa-icon>
                        <span>{{capitalize(aClass.level)}}</span>   
                    </div>
                    <div class="d-flex mt-3">
                        <span>{{aClass.students?.length+' Elèves'}}</span>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>