.contain{
    .left {
        padding-left: 30px;

        .custom-table {
            overflow: hidden;
            border-radius: 12px;

            thead {
                border-radius: 12px;
                th {
                    background: var(--bg-100);
                    color: var(--primary-100);
                    font-size: 14px;
                    padding: 16px;
                }
            }

            tbody {
                tr:nth-child(even) {
                    background: var(--bg-100);
                    
                    td {
                        color: var(--text-100);

                        fa-icon {
                            color: var(--primary-100);
                        }
                    }
                }

                tr {
                    border-radius: 18px; 

                    td {
                        background: none;
                        font-size: 14px;
                        padding: 14px;

                        .student, .professor {
                            display: flex;
                            justify-content: space-between;

                            button {
                                border: 0;
                                border-radius: 24px;
                                padding: 4px 12px;
                                font-size: 12px;
                                background: var(--primary-100);
                                color: var(--text-100);
                            }
                        }

                        fa-icon {
                            color: var(--bg-100);
                        }

                        .action {
                            .edit {
                                color: var(--special-100);
                                margin-right: 20px;
                            }

                            .delete {
                                color: var(--delete-100);
                            }
                        }
                    }
                }
            }
        }
    }

        .add-class {
            border: none;
            padding: 8px 14px;
            border-radius: 24px;
            background: var(--special-100);
            color: var(--text-100);
            margin-bottom: 16px;
            span {
                margin-left: 10px;
                font-weight: 500;
            }
        }
    
}