<div class="contain ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-11  left">
      <div class="top">
        <button class="add-class" routerLink="/admin/add-class">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          <span>Ajouter une classe</span>
        </button>
      </div>
      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Classe</th>
            <th scope="col">Niveau</th>
            <th scope="col">Matières</th>
            <th scope="col">Etudiants</th>
            <th scope="col">Professeurs</th>
            <th scope="col">Ecolage (MGA)</th>
            <th scope="col">Emploi du temps</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aClass of classes">
            <td>
              <fa-icon [icon]="['far', 'circle-check']"></fa-icon>
            </td>
            <td>{{aClass.level.charAt(0).toUpperCase()+aClass.level.slice(1)}}</td>
            <td>{{aClass.section}}</td>
            <td style="font-weight: 600;">
              <div class="course">
                <div class="action">
                  <button (click)="showCourses(aClass)" class="explorer" data-bs-toggle="modal" data-bs-target="#courseModal">
                    <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                    Consulter
                  </button>
                  <button class="add" [routerLink]="'/admin/add-course/'+aClass.id">
                    <fa-icon [icon]="['fas', 'folder-plus']"></fa-icon>
                    Ajouter
                  </button>
                </div>
              </div>
            </td>
            <td>
              <div class="student">
                {{aClass.students?.length}}
                <div class="action">
                  <button class="explorer">
                    <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                    Explorer
                  </button>
                  <button class="add" [routerLink]="'/admin/add-student/'+aClass.id">
                    <fa-icon [icon]="['fas', 'folder-plus']"></fa-icon>
                    Ajouter
                  </button>
                </div>
              </div>
            </td>
            <td>
              <div class="professor">
                {{aClass.professors?.length}}
                <div class="action">
                  <button class="explore-prof">
                    <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                    Explorer
                  </button>
                  <button class="add-prof">
                    <fa-icon [icon]="['fas', 'folder-plus']"></fa-icon>
                    Ajouter
                  </button>
                </div>
              </div>
            </td>
            <td style="font-weight: 600;">{{aClass.ecolage}}</td>
            <td>
              <button class="edt">
                <fa-icon [icon]="['fas', 'calendar-days']"></fa-icon> 
                Consulter
              </button>
            </td>
            <td>
              <div class="action">
                <a (click)="update(aClass)" data-bs-toggle="modal" data-bs-target="#editClass"><fa-icon [icon]="['far', 'pen-to-square']" class="edit"></fa-icon></a>
                <a (click)="deleteClass(aClass.id!)"><fa-icon [icon]="['fas', 'trash']" class="delete"></fa-icon></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <section>
        <header class="title">
            <p>Mettre à jour la classe </p>
        </header>
        <div class="contents">
            <div class="box">
                <form [formGroup]="formGroup" (ngSubmit)="updateClass()">
                    <label>Classe <span>*</span></label>
                    <div class="field">
                        <i class="bi bi-pencil"></i>
                        <input type="text" placeholder="ex. sixieme" formControlName="level">
                    </div>

                    <label>Niveau <span>*</span></label>
                    <select class="form-select form-select-lg mb-3 field-select" formControlName="section">
                        <option value="PRESCOLARY" selected>Prescolaire</option>
                        <option value="PRIMARY">Primaire</option>
                        <option value="SECONDARY">Secondaire</option>
                        <option value="HIGH_SCHOOL">Lycée</option>
                        <option value="UNIVERSITY">Universié</option>
                      </select>

                    <label>Capacité maximum<span> *</span></label>
                    <div class="field">
                        <i class="bi bi-emoji-smile"></i>
                        <input type="text" formControlName="maximumCapacity">
                    </div>
                    <label>Ecolage<span> *</span></label>
                    <div class="field">
                        <i class="bi bi-emoji-smile"></i>
                        <input type="text" placeholder="ex. 10000" formControlName="ecolage">
                    </div>
                    <div class="footer">
                        <div>
                            <i>* Les valeurs sont requis</i>
                        </div>
                        <div class="save">
                            <button class="submit"><i class="bi bi-floppy"></i>Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="courseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="title">Liste des Matières: {{capitalize(classShowed?.level!)}}</span>
        
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <th>Matière</th>
            <th>Coéff</th>
            <th>VH/semaine</th>
            <th>Honoraire</th>
          </thead>
          <tbody>
            <tr *ngFor="let course of classShowed?.courses">
              <td>{{course.title}}</td>
              <td>{{course.credit}}</td>
              <td>{{course.hoursPerWeek}}</td>
              <td>{{course.pricePerHour+' (Ar)'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="close" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>