<div class="contain ">
    <div class="row d-flex justify-content-center">
        <div class="col-md-11  left">
          <button class="add-class" routerLink="/admin/add-class">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
            <span>Ajouter une classe</span>
        </button>
            <table class="table custom-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Niveau</th>
                    <th scope="col">Section</th>
                    <th scope="col">Max capacité</th>
                    <th scope="col">Nb d'Etudiants</th>
                    <th scope="col">Nb de Professeurs</th>
                    <th scope="col">Ecolage</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let aClass of classes">
                    <td>
                        <fa-icon [icon]="['far', 'circle-check']"></fa-icon>
                    </td>
                    <td>{{aClass.level.charAt(0).toUpperCase()+aClass.level.slice(1)}}</td>
                    <td>{{aClass.section}}</td>
                    <td>{{aClass.maximumCapacity}}</td>
                    <td>
                      <div class="student">
                        {{aClass.students?.length}}
                        <div class="action">
                          <button class="explorer">Explorer</button>
                          <button class="ajouter">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="professor">
                        {{aClass.professors?.length}}
                        <button>Explorer</button>
                        <button>
                          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </button>
                      </div>
                    </td>
                    <td>{{aClass.ecolage}}</td>
                    <td>
                        <div class="action">
                            <a href=""><fa-icon [icon]="['far', 'pen-to-square']" class="edit"></fa-icon></a>
                            <a (click)="deleteClass(aClass.id!)"><fa-icon [icon]="['fas', 'trash-can']" class="delete"></fa-icon></a>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>