<div class="contain">
    <div id="sidebar">
        <button class="btn menu-btn" id="toggle-btn">
            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </button>
        <div class="head">
            <div class="user-img">
                <img [src]="" alt="">
            </div>
            <div class="user-details">
                <p class="name">Rakoto</p>
                <p class="title">Manantsoa</p>
            </div>
        </div>
        <div class="nav">
            <div class="menu">
                <p class="title">Main</p>
                <ul>
                    <li>
                        <a routerLinkActive="active" routerLink="/admin" [routerLinkActiveOptions]="{exact: true}">
                            <fa-icon [icon]="['fas', 'gauge']"></fa-icon>
                            <span class="text">Tableau de bord</span>
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <fa-icon [icon]="['fas', 'school-flag']"></fa-icon>
                            <span class="text">Classe</span>
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/admin/categories" [routerLinkActiveOptions]="{exact: true}">
                            <fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon>
                            <span class="text">Etudiants</span>
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/admin/quizzes" [routerLinkActiveOptions]="{exact: true}">
                            <i class="bi bi-chat-dots"></i>
                            <span class="text">Quizzes</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <p class="title">Add</p>
                <ul>
                    <li>
                        <a routerLinkActive="active" routerLink="/admin/add-category" [routerLinkActiveOptions]="{exact: true}">
                            <i class="bi bi-bag-plus"></i>
                            <span class="text">Add Category</span>
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/admin/add-quiz" [routerLinkActiveOptions]="{exact: true}">
                            <i class="bi bi-file-earmark-plus"></i>
                            <span class="text">Add Quiz</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <p class="title">Other</p>
                <ul>
                    <li>
                        <a routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}">
                            <i class="bi bi-info-circle"></i>
                            <span class="text">Help</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="logout()">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <span class="text">Logout</span>
                        </a>
                    </li>
                </ul>
                <div class="copyright">
                    <span style="color: #cccbc8; font-size: 10px; margin-left: 20px;">© Created by Fuji Vanilli</span>
                </div>
            </div>
        </div>
    </div>
    
    <section class="home">
        <router-outlet></router-outlet>
    </section>
</div>