<div class="container-main">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 main">
            <div class="container">
                <div class="title">Enregister un nouveau Professeur</div>
            <form action="">
                <div class="prof-details">
                    <div class="input-box">
                        <span class="details">Nom</span>
                        <input type="text" placeholder="firstname">
                    </div>
                    <div class="input-box">
                        <span class="details">Prénoms</span>
                        <input type="text" placeholder="firstname">
                    </div>
                    <div class="input-box">
                        <span class="details">Date de naissance</span>
                        <input type="text" placeholder="firstname">
                    </div>
                    <div class="input-box">
                        <span class="details">Adresse</span>
                        <input type="text" placeholder="firstname">
                    </div>
                </div>
                <div class="gender-details">
                    <span class="gender-title">Sexe</span>
                    <div class="category">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Homme</mat-radio-button>
                            <mat-radio-button value="2">Femme</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>