<div class="container-main">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 main">
            <div class="container">
                <div class="title">Enregister un nouveau Professeur</div>
                <form [formGroup]="formGroup">
                    <div class="prof-details">
                        <div class="input-box">
                            <span class="details">Nom</span>
                            <input type="text" placeholder="ex. RAKOTO">
                        </div>
                        <div class="input-box">
                            <span class="details">Prénoms</span>
                            <input type="text" placeholder="ex. Fandresena">
                        </div>
                        <div class="input-box">
                            <span class="details">Date de naissance</span>
                            <input type="date" placeholder="firstname">
                        </div>
                        <div class="input-box">
                            <span class="details">Lieu de naissance</span>
                            <input type="text" placeholder="ex. Analamahitsy">
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="email" placeholder="ex. rakoto@xxx.com">
                        </div>
                        <div class="input-box">
                            <span class="details">Télephone</span>
                            <input type="text" placeholder="ex. +261 32 00 111 22">
                        </div>
                        <div class="input-box">
                            <span class="details">Adresse</span>
                            <input type="text" placeholder="ex. Lot XA Andoharano Tana">
                        </div>
                        <div class="input-box">
                            <span class="details">Diplôme</span>
                            <input type="text" placeholder="ex. Baccalauréat">
                        </div>
                        <div class="input-box">
                            <span class="details">Matière</span>
                            <input type="text" placeholder="firstname">
                        </div>
                        <div class="input-box">
                            <span class="details">Classe</span>
                            <input type="text" placeholder="firstname">
                        </div>
                    </div>
                    <div class="gender-details">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="gender-title">Sexe</span>
                                <div class="category">
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1">Homme</mat-radio-button>
                                        <mat-radio-button value="2">Femme</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div>
                                <span class="gender-title">Ajouter un photo</span>
                                <div class="upload-image">
                                    <input type="file" id="upload">
                                    <label for="upload">
                                        <fa-icon [icon]="['fas', 'cloud-arrow-up']"></fa-icon>
                                        <span>Televerser un photo</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <mat-form-field appearance="fill">
                            <mat-label>Choisissez des options</mat-label>
                            <mat-select [(value)]="classesSelected" multiple>
                              <mat-option *ngFor="let aClass of classes" [value]="aClass">{{ aClass }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                    </div>
                    <div class="register">
                        <button>Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>