.main {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 12px;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: var(--text-100);
    padding: 25px 30px;
    border-radius: 5px;

    .title {
        font-size: 20px;
        font-weight: 500;
        position: relative;
    }

    .title::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 30px;
        left: 0;
        bottom: 0;
        background: #9b59b6;
    }

    form {
        .prof-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .input-box {
                width: calc(100%/2 - 20px);
                margin: 14px 0 12px 0;

                .details {
                    font-weight: 500;
                    display: block;
                }

                input {
                    margin-top: 6px;
                    height: 45px;
                    width: 100%;
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    padding-left: 12px;
                    border-bottom-width: 2px;
                }

                input:focus {
                    border-color: var(--primary-100);
                }
            }
        }
    }
}

