<div class="contain">
    <div class="container-1">
        <section>
            <header class="title">
                <p>Créer une nouvelle Matière pour la classe de: {{aClass.level}}</p>
            </header>
            <div class="contents">
                <div class="box">
                    <form [formGroup]="formGroup" (ngSubmit)="createCourse()">
                        <label>Titre <span>*</span></label>
                        <div class="field">
                            <i class="bi bi-pencil"></i>
                            <input type="text" placeholder="ex. Mathématiques" formControlName="title">
                        </div>

                        <label>Coéfficient<span> *</span></label>
                        <div class="field">
                            <i class="bi bi-emoji-smile"></i>
                            <input type="text" placeholder="ex. 2" formControlName="credit">
                        </div>

                        <label>Volume horaire hebdomadaire (Heure)<span> *</span></label>
                        <div class="field">
                            <i class="bi bi-emoji-smile"></i>
                            <input type="text" placeholder="ex. 4" formControlName="hoursPerWeek">
                        </div>

                        <label>Honoraire (Ar)<span> *</span></label>
                        <div class="field">
                            <i class="bi bi-emoji-smile"></i>
                            <input type="text" placeholder="ex. 10000" formControlName="pricePerHour">
                        </div>
                        <div class="footer">
                            <div>
                                <i>* Les valeurs sont requis</i>
                            </div>
                            <div class="save">
                                <button class="submit"><i class="bi bi-floppy"></i>Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>