<div class="container-main">
    <div class="row" style="padding: 0 14px;">
        <div class="col-md-6 contain" *ngFor="let aClass of classes">
            <div class="container">
                <h6>Paiement d'Ecolage</h6>
                <span>{{'Classe de: '+aClass.level}}</span>
                <table class="table">
                    <thead>
                        <th>N°</th>
                        <th>Photo</th>
                        <th>Nom et Prénoms</th>
                        <th>Status</th>
                        <th>Date de paiement</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of aClass.students; let index= index">
                            <td>{{index+1}}</td>
                            <td><img [src]="student.imageUrl" alt=""></td>
                            <td>{{student.firstname+' '+student.lastname}}</td>
                            <td>
                                <button [style.background]="colors[1]" *ngIf="student.genre?.toLowerCase()=== 'homme'">Payé</button>
                                <button [style.background]="colors[0]" *ngIf="student.genre?.toLowerCase()=== 'femme'">Non Payé</button>
                            </td>
                            <td>{{student.createdDate?.toString()?.slice(0, 10)}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="paginator d-flex justify-content-center">
                    <mat-paginator #paginator
                        (page)="handlePageEvent($event)"
                        [length]="aClass.students?.length"
                        [pageSize]="pageSize"
                        [disabled]="disabled"
                        [showFirstLastButtons]="showFirstLastButtons"
                        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                        [hidePageSize]="hidePageSize"
                        [pageIndex]="pageIndex"
                        aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>