.contain {
    padding: 0 8px 8px 8px;

    .container {
        background: var(--text-100);
        border-radius: 5px;
        padding: 14px 12px;

        .paiment {
            .btn-paiment {
                border: 1px solid var(--primary-100);
                color: var(--primary-100);
                font-size: 14px;
                padding: 6px 14px;
                border-radius: 24px;
                background: transparent;
                transition: all ease 0.5s;
            }   

            .btn-paiment:hover {
                background: var(--primary-100);
                color: var(--text-100);
            }
        }
    }

    h6 {
        color: var(--special-100);
    }

    span {
        color: var(--text-200);
        font-size: 14px;
    }

    .table {
        overflow: hidden;
        border-radius: 6px;
    
        thead {
            border-radius: 12px;
            th {
                background: #f5f5f5;
                color: var(--bg-200);
                font-size: 14px;
                padding: 16px;
            }
        }
    
        tbody {
            tr:nth-child(even) {
                background: #f5f5f5;
                
                td {
                    color: var(--bg-100);
    
                    fa-icon {
                        color: var(--primary-100);
                    }
                }
            }
    
            tr {
                border-radius: 18px; 
    
                td {
                    background: none;
                    font-size: 13px;
                    padding: 12px;
                    overflow: hidden;
    
                    img {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                      }
    
                    button {
                        padding: 2px 16px;
                        border: 0;
                        border-radius: 16px;
                        color: var(--text-100);
                        font-size: 12px;
                        width: 80%;
                    }
                    button:hover {
                        opacity: .7;
                    }
    
                    .note {
                        border: none;
                        border-radius: 8px;
                        padding: 6px 14px;
                    }
    
                    .explorer {
                        display: flex;
                        justify-content: space-between;
    
                        .note {
                            border: 0;
                            border-radius: 6px;
                            padding: 4px 8px;
                            font-size: 12px;
                            background: var(--primary-100);
                            color: var(--text-100);
    
                            fa-icon {
                                color: var(--text-100);
                            }
                        }
    
                        .absence {
                            border: 0;
                            border-radius: 6px;
                            padding: 4px 8px;
                            font-size: 12px;
                            background: var(--bg-100);
                            color: var(--text-100);
    
                            fa-icon {
                                color: var(--text-100);
                            }
                        }
    
                        .ecolage {
                            border: 0;
                            border-radius: 6px;
                            padding: 4px 8px;
                            font-size: 12px;
                            background: var(--special-300);
                            color: var(--text-100);
    
                            fa-icon {
                                color: var(--text-100);
                            }
                        }
                    }
    
                    fa-icon {
                        color: var(--bg-100);
                    }
    
                    .action {
    
                        .edit {
                            color: var(--special-100);
                            margin-right: 20px;
                            cursor: pointer;
                        }
    
                        .delete {
                            color: var(--delete-100);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}