<div class="container-main">
    <div class="row" style="padding: 0 14px;">
        <div class="col-md-6 contain">
            <div class="container">
                <div class="month">
                    <mat-form-field >
                        <mat-label>Choisir un Mois et une année</mat-label>
                        <input matInput [matDatepicker]="dp" [formControl]="date">
                        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp
                                        startView="multi-year"
                                        (monthSelected)="setMonthAndYear($event, dp)"
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 0 14px;">
        <div class="col-md-6 contain" *ngFor="let aClass of classes; let i= index">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6>Paiement d'Ecolage</h6>
                        <span>{{'Classe de: '+aClass.level.toUpperCase()}}</span>
                    </div>
                    <div class="paiment">
                        <button class="btn-paiment">
                            <fa-icon [icon]="['fas', 'coins']" style="margin-right: 8px"></fa-icon>
                            Proceder à un paiement</button>
                    </div>
                </div>
                <table class="table" matSort (matSortChange)="sortData($event, i)">
                    <thead>
                        <th mat-sort-header="number">Mle</th>
                        <th mat-sort-header="photo">Photo</th>
                        <th mat-sort-header="fullname">Nom et Prénoms</th>
                        <th mat-sort-header="status">Status</th>
                        <th mat-sort-header="date">Date de paiement</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of getPaginatedStudents(aClass); let index= index">
                            <td>{{student.matricule}}</td>
                            <td><img [src]="student.imageUrl" alt=""></td>
                            <td>{{student.firstname+' '+student.lastname}}</td>
                            <td>
                                <button [style.background]="colors[1]" *ngIf="student.genre?.toLowerCase()=== 'homme'">Payé</button>
                                <button [style.background]="colors[0]" *ngIf="student.genre?.toLowerCase()=== 'femme'">Non Payé</button>
                            </td>
                            <td>{{student.createdDate?.toString()?.slice(0, 10)}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="paginator d-flex justify-content-center">
                    <mat-paginator #paginator
                        (page)="handlePageEvent($event, i)"
                        [length]="aClass.students?.length"
                        [pageSize]="aClass.pageSize"
                        [disabled]="disabled"
                        [showFirstLastButtons]="showFirstLastButtons"
                        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                        [hidePageSize]="hidePageSize"
                        [pageIndex]="aClass.pageIndex"
                        aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>