<nav class="navbar navbar-expand-lg mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!--div class="box-search">
              <input type="text" placeholder="search anything..">
              <button class="icon-search">
                <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
              </button>
            </div-->
          </li>
        </ul>
        <ul class="navbar-nav ms-auto me-5 mb-lg-0 right">
          <li class="nav-item">
            <button class="message" href="">
              <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
            </button>
          </li>
          <li class="nav-item">
            <button class="notification" href="">
              <fa-icon [icon]="['far', 'bell']"></fa-icon>
            </button>
          </li>
          <li>
            <img src="../../../../../assets/icon-256x256.png">
            <ul>
                <li class="sub-item">
                    <fa-icon [icon]="['fas','circle-user']"></fa-icon>
                    <span>Profile</span>
                </li>
                <li class="sub-item">
                    <fa-icon [icon]="['fas','gear']"></fa-icon>
                    <span>Settigns</span>
                </li>
                <li class="sub-item" (click)="logout()">
                    <fa-icon [icon]="['fas','right-from-bracket']"></fa-icon>
                    <span>Logout</span>
                </li>
                <li class="sub-item">
                    <fa-icon [icon]="['fas','circle-question']"></fa-icon>
                    <span>Help</span>
                </li>
            </ul>
        </li>
        </ul>
      </div>
    </div>
  </nav>