<div class="contain">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 left">
            <div class="top">
              <div class="box-search">
                <input type="text" placeholder="search anything..">
                <button class="icon-search">
                  <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
                </button>
              </div>
                <button class="add-student" routerLink="/admin/add-professor">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                  <span>Ajouter un Professeur</span>
                </button>
            </div>
            <table class="table custom-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Mle</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénoms</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Email</th>
                    <th scope="col">Télephone</th>
                    <th scope="col">Matière</th>
                    <th scope="col">Classes</th>
                    <th scope="col">Taux horaire</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let professor of professors">
                    <td>
                      <img src="../../../../../assets/icon-256x256.png">
                    </td>
                    <td>{{professor.matricule}}</td>
                    <td>
                      <a [routerLink]="'/admin/profile-student/'+professor.id" class="name-student">{{professor.firstname?.toUpperCase()}}</a>
                    </td>
                    <td>{{capitalize(professor.lastname!)}}</td>
                    <td>{{professor.dateOfBirth?.toString()?.slice(0, 10)}}</td>
                    <td>{{professor.phone}}</td>
                    <td>
                      <ul>
                        <li *ngFor="let aClass of professor.classes">
                          {{capitalize(aClass?.level!.toString())}}
                        </li>
                      </ul>
                    </td>
                    <td>
                      <div class="explorer">
                          <button class="note">
                            <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                            Consulter
                          </button>
                        </div>
                    </td>
                    <td>
                      <div class="explorer">
                          <button class="absence">
                            <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                            Consulter
                          </button>
                      </div>
                    </td>
                    <td>
                      <div class="explorer">
                        <button class="ecolage">
                            <fa-icon [icon]="['fas', 'wallet']"></fa-icon>
                            Consulter
                        </button>
                      </div>
                    </td>
                    <td>
                      <div class="action">
                        <a (click)="update(professor)" data-bs-toggle="modal" data-bs-target="#exampleModal"><fa-icon [icon]="['far', 'pen-to-square']" class="edit"></fa-icon></a>
                        <a (click)="delete(professor.id!)"><fa-icon [icon]="['fas', 'trash']" class="delete"></fa-icon></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <section>
        <header class="title">
            <p>Ajouter une nouvelle Elève </p>
        </header>
        <div class="contents">
            <div class="box">
                <form [formGroup]="formGroup" (ngSubmit)="updateProfessor()">
                    <label>Nom <span>*</span></label>
                    <div class="field">
                        <fa-icon [icon]="['fas', 'user-tag']"></fa-icon>
                        <input type="text" placeholder="ex. Rakoto" formControlName="firstname">
                    </div>
                    <label>Prénoms <span>*</span></label>
                    <div class="field">
                        <fa-icon [icon]="['fas', 'user-tag']"></fa-icon>
                        <input type="text" placeholder="ex. Tafita" formControlName="lastname">
                    </div>
                    <label>Date de naissance <span>*</span></label>
                    <div class="field">
                        <fa-icon [icon]="['fas', 'calendar-days']"></fa-icon>
                        <input type="date" formControlName="dateOfBirth">
                    </div>
                    <label>Lieu de naissance <span>*</span></label>
                    <div class="field">
                        <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
                        <input type="text" placeholder="ex. Ambohitafita" formControlName="birthPlace">
                    </div>
                    <label>Email <span>*</span></label>
                    <div class="field">
                        <fa-icon [icon]="['fas', 'envelope-open-text']"></fa-icon>
                        <input type="email" placeholder="ex. rakoto@tafita.com" formControlName="email">
                    </div>
                    <label>Télephone <span>*</span></label>
                    <div class="field">
                        <fa-icon [icon]="['fas', 'phone-volume']"></fa-icon>
                        <input type="text" placeholder="ex. +261 00 11 222 33" formControlName="phone">
                    </div>
                    <label>Adresse <span>*</span></label>
                    <div class="field">
                        <fa-icon [icon]="['fas', 'map-location-dot']"></fa-icon>
                        <input type="text" placeholder="ex. Lot WKX Ambohitafita" formControlName="address">
                    </div>
                    <label>Classe <span>*</span></label>
                    <select class="form-select form-select-lg mb-3 field-select" formControlName="classID">
                        <option selected>Choisi une classe</option>
                        <!--option [value]="aClass.id" *ngFor="let aClass of classes">{{aClass.level}}</option-->
                    </select>

                    <label>Ecole d'origine<span> *</span></label>
                    <div class="field">
                        <fa-icon [icon]="['fas', 'school-lock']"></fa-icon>
                        <input type="text" placeholder="ex. Ecole lumineux" formControlName="originSchool">
                    </div>
                    
                    <div class="footer">
                        <div>
                            <i>* Les valeurs sont requis</i>
                        </div>
                        <div class="save">
                            <button class="submit"><i class="bi bi-floppy"></i>Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </div>
  </div>
</div>