<div class="contain">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 left">
            <div class="top">
              <div class="box-search">
                <input type="text" placeholder="search anything..">
                <button class="icon-search">
                  <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
                </button>
              </div>
                <button class="add-student" routerLink="/admin/add-professor">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                  <span>Ajouter un Professeur</span>
                </button>
            </div>
            <table class="table custom-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Mle</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénoms</th>
                    <th scope="col">Diplôme</th>
                    <th scope="col">Email</th>
                    <th scope="col">Télephone</th>
                    <th scope="col">Matière</th>
                    <th scope="col">Classes</th>
                    <th scope="col">Taux horaire</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let professor of professors">
                    <td>
                      <img [src]="professor.imageUrl">
                    </td>
                    <td>{{professor.matricule}}</td>
                    <td>{{professor.genre?.charAt(0)}}</td>
                    <td>
                      <a [routerLink]="'/admin/profile-student/'+professor.id" class="name-student">{{professor.firstname?.toUpperCase()}}</a>
                    </td>
                    <td>{{capitalize(professor.lastname!)}}</td>
                    <td>{{professor.degree}}</td>
                    <td>{{professor.email}}</td>
                    <td>{{professor.phone}}</td>
                    <td>
                      <div class="explorer">
                        <button class="course" data-bs-toggle="modal" data-bs-target="#courseListModal" (click)="selectProf(professor)">
                          <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                          Consulter
                        </button>
                    </div>
                    </td>
                    <td>
                      <div class="explorer">
                          <button class="class" data-bs-toggle="modal"  data-bs-target="#classListModal" (click)="selectProf(professor)">
                            <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                            Consulter
                          </button>
                      </div>
                    </td>
                    <td>{{professor.hoursRate+' Ar'}}</td>
                    <td>
                      <div class="action">
                        <a (click)="toUpdate(professor)" data-bs-toggle="modal"  data-bs-toggle="modal" data-bs-target="#exampleModal"><fa-icon [icon]="['far', 'pen-to-square']" class="edit"></fa-icon></a>
                        <a (click)="delete(professor.id!)"><fa-icon [icon]="['fas', 'trash']" class="delete"></fa-icon></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal update-professor fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-main">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 main">
                <div class="containers">
                    <div class="title">Mettre à jour les informations du Professeur</div>
                    <form [formGroup]="formGroup" (ngSubmit)="updateProfessor()">
                        <div class="prof-details">
                            <div class="input-box">
                                <span class="details">Nom</span>
                                <input type="text" placeholder="ex. RAKOTO" formControlName="firstname">
                            </div>
                            <div class="input-box">
                                <span class="details">Prénoms</span>
                                <input type="text" placeholder="ex. Fandresena" formControlName="lastname">
                            </div>
                            <div class="input-box">
                                <span class="details">Date de naissance</span>
                                <input type="date" formControlName="dateOfBirth">
                            </div>
                            <div class="input-box">
                                <span class="details">Email</span>
                                <input type="email" placeholder="ex. rakoto@xxx.com" formControlName="email">
                            </div>
                            <div class="input-box">
                                <span class="details">Télephone</span>
                                <input type="text" placeholder="ex. +261 32 00 111 22" formControlName="phone">
                            </div>
                            <div class="input-box">
                                <span class="details">Adresse</span>
                                <input type="text" placeholder="ex. Lot XA Andoharano Tana" formControlName="address">
                            </div>
                            <div class="input-box">
                                <span class="details">Diplôme</span>
                                <input type="text" placeholder="ex. Licence en Mathématiques" formControlName="degree">
                            </div>
                            <div class="input-box">
                                <span class="details">Taux horaire (Ar)</span>
                                <input type="text" placeholder="ex. 5000" formControlName="hoursRate">
                            </div>
                        </div>
                        <div class="gender-details">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="gender-title">Sexe</span>
                                    <div class="category">
                                        <mat-radio-group aria-label="Select an option" formControlName="genre">
                                            <mat-radio-button value="Homme">Homme</mat-radio-button>
                                            <mat-radio-button value="Femme">Femme</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>                         
                        </div>
                        <div class="register">
                            <button>Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>


<!-- Modal course liste-->
<div class="modal fade" id="courseListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="title">Liste des Matières: {{profShowed?.firstname}}</span>
        
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <th>Matière</th>
            <th>Honoraire</th>
          </thead>
          <tbody>
            <tr *ngFor="let course of profShowed?.courses"> 
              <td>
                <a [routerLink]="'/admin/profile-student/'+profShowed.id">{{capitalize(course.title!)}}</a>
              </td>
              <td>{{course.pricePerHour}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="close" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal class list-->
<div class="modal fade" id="classListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="title">Liste des classes: {{profShowed?.firstname}}</span>
        
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <th>Classe</th>
            <th>Niveau</th>
          </thead>
          <tbody>
            <tr *ngFor="let class of profShowed?.classes"> 
              <td>
                <a [routerLink]="'/admin/profile-student/'+profShowed.id">{{capitalize(class.level)}}</a>
              </td>
              <td>{{class.section}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="close" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>