<div class="contain">
    <div class="row ">
        <div class="col-md-12 content">
            <div class="row">
                <div class="col-md-3 content-left">
                    <h4></h4>
                    <div class="image-profile">
                        @if (student?.imageUrl=== null) {
                            <img src="../../../assets/icon-256x256.png">
                        } @else {
                            <img [src]="student?.imageUrl">
                        }
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                            <fa-icon [icon]="['fas', 'camera']"></fa-icon>
                        </a>
                    </div>
                    <div class="profile mt-3">
                        <span class="username">{{student?.firstname?.toUpperCase()+' '+ capitalize(student?.lastname!)}}
                        </span>
                        <span class="email">{{student?.email}}</span>
                    </div>

                    <div class="classe mt-4">
                        <fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon>
                        <h5>{{capitalize(student?.aClass?.level!)}}</h5>
                    </div>

                    <div class="edit-profile">
                        <button class="btn-edit-profile" routerLink="/user/edit-profile">Editer</button>
                    </div>

                    <div class="followers mt-4">
                        <div class="details">
                            <fa-icon [icon]="['far', 'id-badge']"></fa-icon>
                            <span>{{'Matricule : '+student?.matricule}}</span>
                        </div>
                        <div class="details">
                            <fa-icon [icon]="['fas', 'calendar-days']"></fa-icon>
                            <span>{{'Née le : '+student?.dateOfBirth?.toString()?.slice(0, 10)}}</span>
                        </div>
                        <div class="details">
                            <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
                            <span>{{'Lieu de naissance : '+student?.birthPlace}}</span>
                        </div>
                        <div class="details">
                            <fa-icon [icon]="['fas', 'map-location-dot']"></fa-icon>
                            <span>{{'Adresse : '+student?.address}}</span>
                        </div>
                        <div class="details">
                            <fa-icon [icon]="['fas', 'phone-volume']"></fa-icon>
                            <span>{{'Télephone : '+student?.phone}}</span>
                        </div>
                        <div class="details">
                            <fa-icon [icon]="['fas', 'calendar-days']"></fa-icon>
                            <span>{{'Crée le : '+student?.createdDate?.toString()?.slice(0, 10)}}</span>
                        </div>
                    </div>
                    <div class="other-link mt-3">
                    </div>
                    <div class="divider mt-4"></div>


                    <div class="divider mt-4"></div>
                </div>
                <div class="col-md-9">
                    <div class="content-right">
                        <div class="ecolage">
                            <h4>Ecolage</h4>
                            <table class="table custom-table">
                                <thead>
                                    <th>Sep</th>
                                    <th>Oct</th>
                                    <th>Nov</th>
                                    <th>Déc</th>
                                    <th>Jan</th>
                                    <th>Fév</th>
                                    <th>Mar</th>
                                    <th>Avr</th>
                                    <th>Mai</th>
                                    <th>Jui</th>
                                    <th>Jul</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-check']" class="ok"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-check']" class="ok"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-check']" class="ok"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-check']" class="ok"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-minus']" class="ko"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-minus']" class="ko"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-minus']" class="ko"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-minus']" class="ko"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-minus']" class="ko"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-minus']" class="ko"></fa-icon>
                                        </td>
                                        <td>
                                            <fa-icon [icon]="['fas', 'circle-minus']" class="ko"></fa-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="header">
            <h4 class="modal-title" id="exampleModalLabel">Choose your profile Image</h4>
        </div>
      <div class="modal-body">
        <div class="mb-3">
            <input
                type="file"
                class="form-control"
                (change)="handleFileInput($event)"
                id="fileInput"
                style="display: none;"
            >
            <button class="btn-upload" type="submit" id="inputGroupFileAddon04" (click)="uploadFile()"><i class="bi bi-plus-lg" style="margin-right: 18px;"></i>Import Image</button>
        </div>
            <p class="mb-3" style="color: #89929b;">File selected: <span style="color: #fff;">{{filename}}</span></p>
            <div class="selected-image d-flex justify-content-center align-items-center " *ngIf="selectImage">
                <img [src]="selectImage" alt="">
            </div>
            <div class="mt-5">
                <button *ngIf="filename" class="btn btn-secondary" (click)="uploadProfileImage()">Upload</button>
            </div>
      </div>
    </div>
  </div>
</div>
