<div class="container-main">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 main">
            <div class="container">
                <div class="title">Enregister un nouveau Elève</div> 
                <form [formGroup]="formGroup" (ngSubmit)="createStudent()">
                    <div class="prof-details">
                        <div class="input-box">
                            <span class="details">Nom</span>
                            <input type="text" placeholder="ex. RAKOTO" formControlName="firstname">
                        </div>
                        <div class="input-box">
                            <span class="details">Prénoms</span>
                            <input type="text" placeholder="ex. Fandresena" formControlName="lastname">
                        </div>
                        <div class="input-box">
                            <span class="details">Date de naissance</span>
                            <input type="date" formControlName="dateOfBirth">
                        </div>
                        <div class="input-box">
                            <span class="details">Lieu de naissance</span>
                            <input type="date" formControlName="dateOfBirth">
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="email" placeholder="ex. rakoto@xxx.com" formControlName="email">
                        </div>
                        <div class="input-box">
                            <span class="details">Télephone</span>
                            <input type="text" placeholder="ex. +261 32 00 111 22" formControlName="phone">
                        </div>
                        <div class="input-box">
                            <span class="details">Adresse</span>
                            <input type="text" placeholder="ex. Lot XA Andoharano Tana" formControlName="address">
                        </div>
                        <div class="input-box">
                            <span class="details">Diplôme</span>
                            <input type="text" placeholder="ex. Licence en Mathématiques" formControlName="degree">
                        </div>
                        <div class="input-box">
                            <span class="details">Taux horaire (Ar)</span>
                            <input type="text" placeholder="ex. 5000" formControlName="hoursRate">
                        </div>
                        <div class="input-box">
                            <span class="details">Classe</span>
                            <mat-form-field>
                                <mat-label>Classes selectionnées</mat-label>
                                <mat-select [formControl]="classesSelected">
                                  <mat-select-trigger>
                                    {{getSelectedClassLevel()[0] || ''}}
                                    @if ((classesSelected.value?.length || 0) > 1) {
                                      <span class="example-additional-selection">
                                        (+{{(classesSelected.value?.length || 0) - 1}} {{classesSelected.value?.length === 2 ? 'autre' : 'autres'}})
                                      </span>
                                    }
                                  </mat-select-trigger>
                                  @for (aClass of classes; track aClass) {
                                    <mat-option [value]="aClass.id">{{capitalize(aClass.level)}}</mat-option> 
                                    }
                                </mat-select>
                              </mat-form-field>
                        </div>
                        
                    </div>
                    <div class="gender-details">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="gender-title">Sexe</span>
                                <div class="category">
                                    <mat-radio-group aria-label="Select an option" formControlName="genre">
                                        <mat-radio-button value="Homme">Homme</mat-radio-button>
                                        <mat-radio-button value="Femme">Femme</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div>
                                <span class="gender-title">Ajouter un photo</span>
                                <div class="upload-image">
                                    <input type="file" id="upload" (change)="handleFileInput($event)">
                                    <label for="upload">
                                        <fa-icon [icon]="['fas', 'cloud-arrow-up']"></fa-icon>
                                        <span>Televerser un photo</span>
                                    </label>
                                </div>
                            </div>
                        </div>                         
                    </div>
                    <div class="register">
                        <button>Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="contain">
    <div class="container-1">
        <section>
            <header class="title">
                <p>Ajouter une nouvelle Elève </p>
            </header>
            <div class="contents">
                <div class="box">
                    <form [formGroup]="formGroup" (ngSubmit)="createStudent()">
                        <label>Nom <span>*</span></label>
                        <div class="field">
                            <fa-icon [icon]="['fas', 'user-tag']"></fa-icon>
                            <input type="text" placeholder="ex. Rakoto" formControlName="firstname">
                        </div>
                        <label>Prénoms <span>*</span></label>
                        <div class="field">
                            <fa-icon [icon]="['fas', 'user-tag']"></fa-icon>
                            <input type="text" placeholder="ex. Tafita" formControlName="lastname">
                        </div>
                        <label>Date de naissance <span>*</span></label>
                        <div class="field">
                            <fa-icon [icon]="['fas', 'calendar-days']"></fa-icon>
                            <input type="date" formControlName="dateOfBirth">
                        </div>
                        <label>Lieu de naissance <span>*</span></label>
                        <div class="field">
                            <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
                            <input type="text" placeholder="ex. Ambohitafita" formControlName="birthPlace">
                        </div>
                        <label>Email <span>*</span></label>
                        <div class="field">
                            <fa-icon [icon]="['fas', 'envelope-open-text']"></fa-icon>
                            <input type="email" placeholder="ex. rakoto@tafita.com" formControlName="email">
                        </div>
                        <label>Télephone <span>*</span></label>
                        <div class="field">
                            <fa-icon [icon]="['fas', 'phone-volume']"></fa-icon>
                            <input type="text" placeholder="ex. +261 00 11 222 33" formControlName="phone">
                        </div>
                        <label>Adresse <span>*</span></label>
                        <div class="field">
                            <fa-icon [icon]="['fas', 'map-location-dot']"></fa-icon>
                            <input type="text" placeholder="ex. Lot WKX Ambohitafita" formControlName="address">
                        </div>
                        <label>Classe <span>*</span></label>
                        @if (classByID) {
                            <div class="field class-by-id">
                                <input type="text" [placeholder]="classByID.level" readonly>
                            </div>
                        } @else {
                            <select class="form-select form-select-lg mb-3 field-select" formControlName="classID">
                                <option selected>Choisi une classe</option>
                                <option [value]="aClass.id" *ngFor="let aClass of classes">{{aClass.level}}</option>
                              </select>
                        }

                        <label>Ecole d'origine<span> *</span></label>
                        <div class="field">
                            <fa-icon [icon]="['fas', 'school-lock']"></fa-icon>
                            <input type="text" placeholder="ex. Ecole lumineux" formControlName="originSchool">
                        </div>
                        
                        <div class="footer">
                            <div>
                                <i>* Les valeurs sont requis</i>
                            </div>
                            <div class="save">
                                <button class="submit" [disabled]="formGroup.invalid"><i class="bi bi-floppy"></i>Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>