<div class="contain">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 left">
            <div class="top">
                <button class="add-class" routerLink="/admin/add-student">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                  <span>Ajouter un Elève</span>
                </button>
                <div class="total">
                  Nombre total d'élèves: 
                  <span>{{students?.length}}</span>
                </div>
              </div>
            <table class="table custom-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Mle</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénoms</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Email</th>
                    <th scope="col">Télephone</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Absences</th>
                    <th scope="col">Ecolage</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students">
                    <td>
                      <fa-icon [icon]="['far', 'circle-check']"></fa-icon>
                    </td>
                    <td>{{student.matricule}}</td>
                    <td>{{student.firstname?.toUpperCase()}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.dateOfBirth?.toString()?.slice(0, 10)}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.aClass?.level}}</td>
                    <td>
                      <div class="explorer">
                          <button class="note">
                            <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                            Consulter
                          </button>
                        </div>
                    </td>
                    <td>
                      <div class="explorer">
                          <button class="absence">
                            <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
                            Consulter
                          </button>
                      </div>
                    </td>
                    <td>
                      <div class="explorer">
                        <button class="ecolage">
                            <fa-icon [icon]="['fas', 'calendar-days']"></fa-icon>
                            Consulter
                        </button>
                      </div>
                    </td>
                    <td>
                      <div class="action">
                        <a (click)="update()" data-bs-toggle="modal" data-bs-target="#exampleModal"><fa-icon [icon]="['far', 'pen-to-square']" class="edit"></fa-icon></a>
                        <a (click)="delete()"><fa-icon [icon]="['fas', 'trash']" class="delete"></fa-icon></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
